%common-law {
  content: '';
  display: inline-block;
  background-color: $light-grey;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  list-style: none;
  width: 100%;
  margin-bottom: 1.5rem;

  li {
    counter-increment: stepNum;
    display: table-cell;
    text-align: center;
    position: relative;

    &::before {
      @extend %common-law;
      content: counter(stepNum);
      height: 2.5rem;
      width: 2.5rem;
      line-height: 2.5rem;
      border-radius: 50%;
    }

    &::after {
      @extend %common-law;
      height: 2px;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}
