.main {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.container {
  background: $white;
  flex-basis: 100%;
  max-width: $screen-md;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.25rem;
}
