// Colors
$brand-color: #1583cc;
$primary-color: $brand-color;
$secondary-color: #8a8a8a;
$white: #fff;
$black: #000;
$dark: #404040;
$gray: #ccc;
$light-grey: #ededed;

$body-bg: $dark;
$body-color: #333;

$input-border: #ced4da;

$footer-border: $gray;

// Break points
$screen-sm: 36rem;
$screen-md: 48rem;
$screen-lg: 62rem;
$screen-xl: 75rem;
