// Colors
$primary-color: tomato;
$brand-color: #174a8f;
$white: #fff;
$black: #000;
$gray: #ccc;
$dark: #404040;

$body-bg: $dark;
$body-color: #333;

$footer-border: $gray;

// Break points
$screen-sm: 30rem;
$screen-md: 48rem;
$screen-lg: 75rem;
